In [4]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\dattaraj\appdata\roaming\python\python312\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dattaraj\appdata\roaming\python\python312\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dattaraj\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dattaraj\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dattaraj\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\dattaraj\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [6]:
import pandas as pd

In [8]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\dattaraj\appdata\roaming\python\python312\site-packages (2.1.1)

In [10]:
import numpy as np

In [32]:
# Sample Data Setup: Reading data from CSV and Excel
# Assuming `data.csv` and `data.xlsx` are in the current directory.

# a) Read data from different formats (CSV, XLS)
import os

csv_data = pd.read_csv("D:\\advertising.csv")
 # Should return True if the file exists

In [34]:
csv_data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [36]:
print("CSV Data:")
print(csv_data.head())

CSV Data:
      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [38]:
print("\nShape of Data (Rows, Columns):", csv_data.shape)

Shape of Data (Rows, Columns): (200, 4)

In [40]:
# c) Find Missing Values
print("\nMissing Values per Column:")
print(csv_data.isnull().sum())

Missing Values per Column:
TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [42]:
# d) Find Data Type of Each Column
print("\nData Types of Each Column:")
print(csv_data.dtypes)

Data Types of Each Column:
TV           float64
Radio        float64
Newspaper    float64
Sales        float64
dtype: object

In [44]:
# e) Finding out Zeros
print("\nCount of Zeros in Each Column:")
zero_counts = (csv_data == 0).sum()
print(zero_counts)

Count of Zeros in Each Column:
TV           0
Radio        1
Newspaper    0
Sales        0
dtype: int64

In [46]:
# f) Indexing and Selecting Data, Sorting Data
print("\nFirst 5 rows of selected columns:")
print(csv_data.iloc[:5, [0, 1]])  # Select first 5 rows of the first 2 columns

First 5 rows of selected columns:
      TV  Radio
0  230.1   37.8
1   44.5   39.3
2   17.2   45.9
3  151.5   41.3
4  180.8   10.8

In [48]:
print("\nData Sorted by First Column (Ascending):")
print(csv_data.sort_values(by=csv_data.columns[0], ascending=True).head())

Data Sorted by First Column (Ascending):
      TV  Radio  Newspaper  Sales
130  0.7   39.6        8.7    1.6
155  4.1   11.6        5.7    3.2
78   5.4   29.9        9.4    5.3
56   7.3   28.1       41.4    5.5
126  7.8   38.9       50.6    6.6

In [50]:
# g) Describe Attributes of Data, Checking Data Types
print("\nSummary Statistics of Numeric Columns:")
print(csv_data.describe())

Summary Statistics of Numeric Columns:
               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [52]:
print("\nChecking Data Types of Each Column:")
for column in csv_data.columns:
    print(f"{column}: {type(csv_data[column][0])}")

Checking Data Types of Each Column:
TV: <class 'numpy.float64'>
Radio: <class 'numpy.float64'>
Newspaper: <class 'numpy.float64'>
Sales: <class 'numpy.float64'>

In [54]:
# h) Counting Unique Values, Format of Each Column, Converting Data Type
print("\nUnique Values Count for Each Column:")
for column in csv_data.columns:
    print(f"{column}: {csv_data[column].nunique()} unique values")

Unique Values Count for Each Column:
TV: 190 unique values
Radio: 167 unique values
Newspaper: 172 unique values
Sales: 121 unique values

In [56]:
# Format of Each Column
print("\nFormats (First 5 values of each column):")
for column in csv_data.columns:
    print(f"{column}: {csv_data[column].head().tolist()}")

Formats (First 5 values of each column):
TV: [230.1, 44.5, 17.2, 151.5, 180.8]
Radio: [37.8, 39.3, 45.9, 41.3, 10.8]
Newspaper: [69.2, 45.1, 69.3, 58.5, 58.4]
Sales: [22.1, 10.4, 12.0, 16.5, 17.9]

In [58]:
print("\nConverting Column Data Type:")
if 'numeric_column' in csv_data.columns:
    csv_data['numeric_column'] = csv_data['numeric_column'].astype('int16')
    print("Converted 'numeric_column' to int16.")

Converting Column Data Type:

In [63]:
# Save the updated DataFrame to a new CSV file
csv_data.to_csv('updated_data.csv', index=False)
print("\nUpdated data saved to 'updated_data.csv'.")

Updated data saved to 'updated_data.csv'.